<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>
    {{> navbar }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h1>
                    Aang
                </h1>
            </div>
            <div class="col-4">
                <img src="assets/img/Avatar.jpg" class="img-thumbnail" alt="" />
            </div>
        </div>
    </div>
    {{> footer }}
</body>
</html>