<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>
    {{> navbar }}
    <h1>{{ capitalize 'Just a HTML page served with NODE' }}</h1>
    <p>
        Today is: <b>{{currentDate}}</b> <br>
        Thanks for watching.
    </p>
    {{> footer }}
</body>
</html>